--
-- PostgreSQL database dump
--

\restrict sobmiSBN3OOGjkjPf9HZXsgJH9W8ONnas1xfcbMguw0YhWj1wng9t6NJqQg4dTX

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: addresses; Type: TABLE; Schema: public; Owner: food_user
--

CREATE TABLE public.addresses (
    id bigint NOT NULL,
    city character varying(255),
    latitude double precision,
    longitude double precision,
    street character varying(255),
    zip_code character varying(255),
    user_id bigint NOT NULL
);


ALTER TABLE public.addresses OWNER TO food_user;

--
-- Name: addresses_id_seq; Type: SEQUENCE; Schema: public; Owner: food_user
--

ALTER TABLE public.addresses ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.addresses_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: deliveries; Type: TABLE; Schema: public; Owner: food_user
--

CREATE TABLE public.deliveries (
    id bigint NOT NULL,
    assigned_at timestamp(6) without time zone NOT NULL,
    status character varying(255) NOT NULL,
    driver_id bigint NOT NULL,
    order_id bigint NOT NULL,
    CONSTRAINT deliveries_status_check CHECK (((status)::text = ANY ((ARRAY['ASSIGNED'::character varying, 'PICKED_UP'::character varying, 'OUT_FOR_DELIVERY'::character varying, 'DELIVERED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.deliveries OWNER TO food_user;

--
-- Name: deliveries_id_seq; Type: SEQUENCE; Schema: public; Owner: food_user
--

ALTER TABLE public.deliveries ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.deliveries_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: menu_items; Type: TABLE; Schema: public; Owner: food_user
--

CREATE TABLE public.menu_items (
    id bigint NOT NULL,
    description character varying(255),
    available boolean,
    name character varying(255),
    price double precision,
    restaurant_id bigint NOT NULL
);


ALTER TABLE public.menu_items OWNER TO food_user;

--
-- Name: menu_items_id_seq; Type: SEQUENCE; Schema: public; Owner: food_user
--

ALTER TABLE public.menu_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.menu_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: food_user
--

CREATE TABLE public.order_items (
    id bigint NOT NULL,
    price double precision NOT NULL,
    quantity integer NOT NULL,
    subtotal double precision NOT NULL,
    menu_item_id bigint NOT NULL,
    order_id bigint NOT NULL
);


ALTER TABLE public.order_items OWNER TO food_user;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: food_user
--

ALTER TABLE public.order_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders; Type: TABLE; Schema: public; Owner: food_user
--

CREATE TABLE public.orders (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    status character varying(255) NOT NULL,
    total_amount double precision NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT orders_status_check CHECK (((status)::text = ANY ((ARRAY['PLACED'::character varying, 'CONFIRMED'::character varying, 'PREPARING'::character varying, 'OUT_FOR_DELIVERY'::character varying, 'DELIVERED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.orders OWNER TO food_user;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: food_user
--

ALTER TABLE public.orders ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurants; Type: TABLE; Schema: public; Owner: food_user
--

CREATE TABLE public.restaurants (
    id bigint NOT NULL,
    address character varying(255),
    active boolean,
    name character varying(255),
    phone character varying(255)
);


ALTER TABLE public.restaurants OWNER TO food_user;

--
-- Name: restaurants_id_seq; Type: SEQUENCE; Schema: public; Owner: food_user
--

ALTER TABLE public.restaurants ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurants_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: food_user
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(255),
    password character varying(255),
    phone character varying(255),
    role character varying(255),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ROLE_CUSTOMER'::character varying, 'ROLE_RESTAURANT'::character varying, 'ROLE_DRIVER'::character varying, 'ROLE_ADMIN'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO food_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: food_user
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: addresses addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT addresses_pkey PRIMARY KEY (id);


--
-- Name: deliveries deliveries_pkey; Type: CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_pkey PRIMARY KEY (id);


--
-- Name: menu_items menu_items_pkey; Type: CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT menu_items_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: restaurants restaurants_pkey; Type: CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.restaurants
    ADD CONSTRAINT restaurants_pkey PRIMARY KEY (id);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: deliveries ukk36n9p5v7dd96hpgkwybvbogt; Type: CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT ukk36n9p5v7dd96hpgkwybvbogt UNIQUE (order_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: addresses fk1fa36y2oqhao3wgg2rw1pi459; Type: FK CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT fk1fa36y2oqhao3wgg2rw1pi459 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: orders fk32ql8ubntj5uh44ph9659tiih; Type: FK CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk32ql8ubntj5uh44ph9659tiih FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: deliveries fk7isx0rnbgqr1dcofd5putl6jw; Type: FK CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT fk7isx0rnbgqr1dcofd5putl6jw FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: order_items fkbioxgbv59vetrxe0ejfubep1w; Type: FK CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fkbioxgbv59vetrxe0ejfubep1w FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: order_items fkdtfg1f49yr5yye2fpl2xid2xo; Type: FK CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fkdtfg1f49yr5yye2fpl2xid2xo FOREIGN KEY (menu_item_id) REFERENCES public.menu_items(id);


--
-- Name: menu_items fkhaqtoboitpl0n541y0sc753my; Type: FK CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT fkhaqtoboitpl0n541y0sc753my FOREIGN KEY (restaurant_id) REFERENCES public.restaurants(id);


--
-- Name: deliveries fkm4ubh4uobntck32iawsw1mlvq; Type: FK CONSTRAINT; Schema: public; Owner: food_user
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT fkm4ubh4uobntck32iawsw1mlvq FOREIGN KEY (driver_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict sobmiSBN3OOGjkjPf9HZXsgJH9W8ONnas1xfcbMguw0YhWj1wng9t6NJqQg4dTX

